@tailwind base;
@tailwind components;
@tailwind utilities;

.body-holder{
	width: 90vw;
	margin: auto;
}

.card-grid{
	padding:2rem;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	column-gap: 2vw;
	row-gap: 2vh;
}

.card{
	width: 100%;
	font-size: small;
	background-color: #e6f2ff;
	padding: .5rem;
}

.hidden{
	display: none !important;
}

.card > p {
	margin-top: 1vh;
}

.card > p > a {
	color: #335880;
}

.filter-holder{
	text-align: center;
	width: fit-content;
	padding: 0 .5em;
}

.filter-holder > *{
	margin: 1em .125em;
}

.selected-selector{
	background-color:teal;
}

.filter-button{
	padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
	padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
	--tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity));
	border-width: 2px;
	border-radius: 0.25rem/* 4px */;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.filter-selected{
	background-color: rgb(154, 156, 160) !important;
}

.filter-button:hover{
	--tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.toggle-holder{
	padding: 1vh 2vw;
}

.subject-selector{
	position: fixed;
	display: grid;
	text-align: left;
	padding-left: .25vw;
	width: 15vw;
	top: 0px;
	left: 0px;
	z-index: 40;
	height: 100vh;
	overflow-y: auto;
	transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
	--tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.borneo{
	display: grid;
}

.text-filter{
	width: 15em;
	margin: 0px auto;
	padding: .25em .5em;
}

#filter-parent{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto;
	align-items: center;
}

#filter-parent > p {
	text-align: end;
	max-width: fit-content;
	justify-self: right;
}

.filter-label{
	padding: .125em 0em
}

#filter-box {
	width: fit-content;
	margin: 0px auto;
}

.subject-selector.visible{
	transform: none;
	visibility: visible;
}

.subject-selector > button {
	text-align: left;
	border-radius: .3rem;
	margin: .125vw 0;
	padding: 1em;
}
